body {
    margin: 0;
}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.order a,
.event a,
.afisha a {
    color: #1B1B1B !important   
}

.afisha {
    font-size: 0;
    color: #1B1B1B;
    font-family: 'Arial';
    margin: 60px 0;
}

.afisha__wrapper {
    width: 100%;
    max-width: 1420px;
    padding: 0 20px;
    margin: auto;
}

.afisha__h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 30px;
}

.afisha__wrp {
    position: relative;
    margin: 0 0 30px;
}

.event__seances {
    margin: 0 0 120px;  
}

.afisha__date_wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
}

.afisha__date_wrp:last-child {
    margin: 0;
}

.afisha__date {
    width: 180px;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #EAEAEA;
    padding: 40px 0 0;
}

.afisha__number {
    font-family: 'Times New Roman';
    font-size: 48px;
}

.afisha__number-red {
    color: #E45F5F;
}

.afisha__r {
    margin: 15px 0 0 10px;
}

.afisha__mounth {
    font-size: 18px;
    line-height: 100%;
}

.afisha__day {
    font-size: 13px;
    color: #848484;
    text-transform: lowercase;
}

.afisha__els {
    width: calc(100% - 220px);
    border: 1px solid #EAEAEA;
    border-bottom: 2px solid #1B1B1B;
}

.afisha__el {
    width: 100%;
    min-height: 160px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px 30px;
}

.afisha__el:last-child {
    border-bottom: none;
}

.afisha__time {
    font-family: 'Times New Roman';
    font-size: 26px;
    margin: 0 40px 0 0;
}

.afisha__img {
    min-width: 204px;
    height: 140px;
    display: block;
    position: relative;
    margin: 0 30px 0 0;
}

.afisha__img_wrp {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.afisha__img_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: transform .3s ease-out;
}

.afisha__img:hover .afisha__img_img {
   transform: scale(1.1);
}

.afisha__center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.afisha__left {
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.afisha__title {
    font-family: 'Times New Roman';
    font-size: 24px;
    color: #1b1b1b;
    margin: 0 0 21px;
    transition: opacity .3s ease-out;
}

.afisha__title:hover {
    opacity: .7;
}

.afisha__title-mob {
    display: none;
}

.afisha__bottom {
    display: flex;
    justify-content: space-between;
}

.afisha__desc {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 30px 0 0;
}

.afisha__desc-mob {
    display: none;
}

.afisha__location {
    width: 300px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.afisha__location-mob {
    display: none;
}

.afisha__right {
    margin: 0 0 0 30px;
}

.afisha__price {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 11px;
}

.afisha__price_pr {
    font-size: 20px;
    margin: 0 6px 0 0;
}

.afisha__button {
    width: 210px;
    height: 50px;
    display: block;
    border: 2px solid #1B1B1B;
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #1b1b1b;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    overflow: hidden;
    transition: background .3s ease-out, color .3s ease-out;
}

.afisha__button:hover {
    background: #1b1b1b;
    color: #fff !important;
}

.afisha__button-stopped {
    border: 2px solid #AFAFAF;
    font-size: 16px;
    color: #AFAFAF;
    pointer-events: none;
}

.afisha__load {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1B1B1B;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: #1b1b1b;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    transition: background .3s ease-out, color .3s ease-out;
}

.afisha__load:hover {
    background: #1b1b1b;
    color: #fff;
}

.afisha__labels {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
}

.afisha__label {
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0 16px;
    margin: 0 0 0;
}

.afisha__label-premiere {
    background: #FB7474;
}

.afisha__label-premiere span {
    background: #FB7474;  
}

.afisha__label-starry_cast {
    background: #E2A954;
}

.afisha__label-starry_cast span {
    background: #E2A954;  
}

.afisha__label-golden_mask {
    background: #E2A954;
}

.afisha__label-golden_mask span {
    background: #E2A954;  
}

.afisha__label-detjam {
    background: #BE69CC;
}

.afisha__label-detjam span {
    background: #BE69CC;  
}

.afisha__label-festival {
    background: #DD5D8B;
}

.afisha__label-festival span {
    background: #DD5D8B;  
}

.afisha__label-popular {
    background: #F4963F;
}

.afisha__label-popular span {
    background-color: #F4963F;  
}

.afisha__label-discounted {
    background: #7FC374;
}

.afisha__label-discounted span {
    background: #7FC374;  
}

.afisha_filter__mounths {
    height: 78px;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 0 30px;
}

.afisha_filter__mounths::-webkit-scrollbar {
    height: 4px;
}
  
.afisha_filter__mounths::-webkit-scrollbar-thumb {
    background: grey;
}

.afisha_filter__mounth {
    height: 100%;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    margin: 0 40px 0 0;
    display: inline-flex;
}

.afisha_filter__mounth.show {
    display: inline-flex;
}

.afisha_filter__mounth:last-child {
    margin: 0;
}

.afisha_filter__mounth:before {
    content: '';
    width: 0;
    height: 3px;
    background: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s ease-out;
}

.afisha_filter__mounth.active:before,
.afisha_filter__mounth:hover:before {
    width: 100%;
}

.afisha_filter__y {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 10px;
    display: none;
}

.afisha_filter__y.active {
    display: block;
}

.afisha_loader {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.afisha_loader_el {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    box-shadow: 0 -18px 0 0 #1B1B1B, 12.72984px -12.72984px 0 0 #1B1B1B, 18px 0 0 0 #1B1B1B, 12.72984px 12.72984px 0 0 rgb(152 128 255 / 0%), 0 18px 0 0 rgb(152 128 255 / 0%), -12.72984px 12.72984px 0 0 rgb(152 128 255 / 0%), -18px 0 0 0 rgb(152 128 255 / 0%), -12.72984px -12.72984px 0 0 rgb(152 128 255 / 0%);
    animation: dotSpin 1.5s infinite linear;
    position: sticky;
    top: 50vh;
    margin: auto;
}

@keyframes dotSpin {
    0%,
    100% {
      box-shadow: 0 -18px 0 0 #1B1B1B, 12.72984px -12.72984px 0 0 #1B1B1B, 18px 0 0 0 #1B1B1B, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
    }
    12.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 0 #1B1B1B, 18px 0 0 0 #1B1B1B, 12.72984px 12.72984px 0 0 #1B1B1B, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
    }
    25% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #1B1B1B, 12.72984px 12.72984px 0 0 #1B1B1B, 0 18px 0 0 #1B1B1B, -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
    }
    37.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #1B1B1B, 0 18px 0 0 #1B1B1B, -12.72984px 12.72984px 0 0 #1B1B1B, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
    }
    50% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #1B1B1B, -12.72984px 12.72984px 0 0 #1B1B1B, -18px 0 0 0 #1B1B1B, -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
    }
    62.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #1B1B1B, -18px 0 0 0 #1B1B1B, -12.72984px -12.72984px 0 0 #1B1B1B;
    }
    75% {
      box-shadow: 0 -18px 0 0 #1B1B1B, 12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #1B1B1B, -12.72984px -12.72984px 0 0 #1B1B1B;
    }
    87.5% {
      box-shadow: 0 -18px 0 0 #1B1B1B, 12.72984px -12.72984px 0 0 #1B1B1B, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #1B1B1B;
    }
}

.event {
    font-size: 0;
    color: #1B1B1B;
    font-family: 'Arial';
    position: relative;
    margin: 30px 0 60px;
}

.event_bread {
    font-size: 13px;
    margin: 0 0 20px;
}

.event_bread > *:not(:last-child) {
    padding: 0 10px 0 0;
}

.event_bread a {
    color: #848484 !important;
}

.event_top {
    height: 550px;
    max-height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.event_top__image {
    width: 55%;
    height: 100%;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event_top__content {
    max-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.event_top__title {
    max-width: 600px;
    font-family: 'Times New Roman';
    font-size: 56px;
    margin: 0 0 16px;
}

.event_top__location {
    font-size: 16px;
    margin: 0 0 30px;
}

.event_top__text {
    max-width: 600px;
    font-size: 15px;
    line-height: 155%;
    margin: 0 0 30px;
}

.event_top__text p {
    margin: 0;
}

.event_top__subtitle {
    font-size: 16px;
    margin: 0 0 30px; 
}

.event__wrp {
    margin: 60px 0 0;
}

.event__h1 {
    font-family: 'Times New Roman';
    font-size: 36px;
    text-align: center;
    margin: 0 0 30px; 
}

.event_seo {
    width: 100%;
    padding: 0 0 0 220px;
    margin: 0 0 60px;
}

.event_seo__text {
    font-size: 15px;
}

.event_seo__text ul,
.event_seo__text p  {
    margin: 0 0 30px;
}

.event_seo__text *:last-child {
    margin: 0;
}

.event_photos {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
}

.event_photos__photo {
    width: 250px;
    max-width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5% 30px 0;
}

.seance {
    font-size: 0;
    color: #1B1B1B;
    font-family: 'Arial';
    position: relative;
    margin: 90px 0 60px;
}

.seance_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .54);
    box-shadow: 0 0 12px rgba(0, 0, 0, .12);
    padding: 10px 15px;
    margin: 30px 0;
}

.seance_top_wrapper {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

.seance_top__title {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 5px;
}

.seance_top__location {
    font-size: 13px;
    font-weight: 500;
    color: #848484;
}

.seance_top__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.seance_top__dates {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #322f31;
    cursor: pointer;
    position: relative;
    padding: 0 15px;
}

.seance_top__dates:before {
    content: '⌄';
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.seance_top__date {
    font-size: 14px;
    font-weight: 500;
}

.seance_top__list {
    width: 200px;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #322f31;
    overflow: auto;
    z-index: 1;
    position: absolute;
    left: -1px;
    top: 28px;
    transform: scale(0);
    transform-origin: top;
    transition: transform .3s ease-out;
}

.seance_top__list.active {
    transform: scale(1);
}

.seance_top__el {
    border-bottom: 1px solid #322f31;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b !important;
    text-decoration: none;
    padding: 5px 15px;
    transition: color .3s ease-out;
}

.seance_top__el:hover,
.seance_top__el.active {
    color: #fc4949 !important;
}

.seance_top__el:last-child {
    border-bottom: none;
}

.seance_top__el-inactive {
    font-size: 12px;
    pointer-events: none;
}

#hall {
    max-height: calc(100vh - 300px);
    background: #fff !important;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    font-size: 12px;
    margin: 0 0 150px;
}

.leaflet-left {
    left: 10px !important;
}

.leaflet-top {
    top: 55px !important;
}

.leaflet-left .leaflet-control {
    margin: 0 !important;
}

.leaflet-touch .leaflet-bar {
    border: none !important;
}

.leaflet-touch .leaflet-bar a {
    width: 30px !important;
    height: 30px !important;
    background: #fff;
    border: 1px solid #070707!important;
    border-radius: 3px !important;
    color: #1B1B1B !important;
    font-weight: 400;
    line-height: 24px !important;
    transition: background .3s ease-out;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin: 0 0 4px;
}

.leaflet-bar a.leaflet-disabled,
.leaflet-touch .leaflet-bar a:hover {
    background-color: #f4f4f4;
}

.leaflet-bottom {
    display: none !important;
}

#crocus circle {
    stroke: #ccc;
    fill: none;
    pointer-events: all !important;
}

body #crocus .act[data-c="1"],
#crocus .act {
    fill: #dd4b24 !important;
    stroke: #dd4b24 !important;
    cursor: pointer;
    transition: r .3s;
}

body #crocus .act[data-c="1"][data-color="color_1"],
#crocus .act[data-color="color_1"] {
    fill: #8D35B6 !important;
    stroke: #8D35B6 !important;
}

body #crocus .act[data-c="1"][data-color="color_2"],
#crocus .act[data-color="color_2"] {
    fill: #3E5DCD !important;
    stroke: #3E5DCD !important;
}

body #crocus .act[data-c="1"][data-color="color_3"],
#crocus .act[data-color="color_3"] {
    fill: #1EB2E0 !important;
    stroke: #1EB2E0 !important;
}

body #crocus .act[data-c="1"][data-color="color_4"],
#crocus .act[data-color="color_4"] {
    fill: #F37732 !important;
    stroke: #F37732 !important;
}

body #crocus .act[data-c="1"][data-color="color_5"],
#crocus .act[data-color="color_5"] {
    fill: #D3258E !important;
    stroke: #D3258E !important;
}

body #crocus .act[data-c="1"].price__off,
#crocus .act[data-color="color_5"].price__off {
    fill: #ccc !important;
    stroke: #ccc !important;
}

body #crocus .act.sell[data-c="1"],
#crocus .act.sell {
    fill: #fff !important;
}

body #crocus .act[data-c="1"]:hover,
#crocus .act:hover {
    fill: #fff !important;
    r: 13px !important;
}

body #crocus .act[data-c="1"].hovered {
    fill: #fff !important;
    r: 13px !important;  
}

text[data-text] {
    fill: #dd4b24 !important;
    pointer-events: none;
}

text[data-text][data-color="color_1"] {
    fill: #8D35B6 !important;
}

text[data-text][data-color="color_2"] {
    fill: #3E5DCD !important;
}

text[data-text][data-color="color_3"] {
    fill: #1EB2E0 !important;
}

text[data-text][data-color="color_4"] {
    fill: #F37732 !important;
}

text[data-text][data-color="color_5"] {
    fill: #D3258E !important;
}

text[data-text].price__off {
    fill: #ccc !important;
}

#hall rect,
#hall polygon,
#hall path {
    opacity: .5;
    fill: none;
    stroke: #322f31;
    stroke-width: .7;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-opacity: .3;
    stroke-dasharray: none;
    transition: fill .7s, stroke .7s;
}

.seance_window {
    width: 190px;
    max-width: 190px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    z-index: 1102;
    position: fixed;
    padding: 20px 20px 5px;
    transform: scale(0);
    transition: transform .3s;
}

.seance_window.active {
    transform: scale(1);
}

.seance_window:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top: 10px solid #eee;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
}

.seance_window__sector {
    font-size: 13px;
    color: #9aa0a8;
    margin: 7px 0 2px;
}

.seance_window__location {
    font-size: 13px;
    color: #252525;
    margin: 7px 0 2px;
}

.seance_window__price {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 5px;
}

.bottom_cart {
    width: 100%;
    height: 70px;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform .3s ease-out;
}

.bottom_cart.active {
    transform: translateY(0);
}

.afisha__wrapper-bottom_cart {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom_cart__clear {
    font-size: 13px;
    color: #bebebe;
    cursor: pointer;
    transition: color .3s ease-out;
}

.bottom_cart__clear:hover {
    color: #e45f5f;
}

.bottom_cart__button {
    width: 200px;
    height: 40px;
    background: #579f29;
    border-radius: 3px;
    font-size: 14px;
    color: #fff !important;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    transition: opacity .3s ease-out;
}

.bottom_cart__button:hover {
    opacity: .7;
}

.bottom_cart__center {
    font-size: 20px;
}

.bottom_cart_mobile {
    display: none;
}

.order {
    font-size: 0;
    color: #1B1B1B;
    font-family: 'Arial';
    margin: 60px 0 120px;
}

.order__h1 {
    font-family: 'Times New Roman';
    font-size: 64px;
    font-weight: 400;
    margin: 0 0 30px;
}

.order__title {
    font-family: 'Times New Roman';
    font-size: 24px;
    margin: 0 0 30px;
}

.order_el__els {
    width: calc(100% - 220px);
    border: 1px solid #eaeaea;
}

.order_el__el {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #eaeaea;
    color: #1b1b1b;
    text-decoration: none;
}

.order_el__el:last-child {
    border-bottom: none; 
}

.order_el__left {
    display: flex;
    align-items: center;
}

.order_el__id {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eaeaea;
    font-size: 18px;
    color: #848484;
}

.order_el__time {
    font-family: 'Times New Roman';
    font-size: 26px;
    margin: 0 0 0 32px;
}

.order_el__title {
    max-width: 300px;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 100%;
    text-decoration: underline;
    padding: 20px 0;
    margin: 0 0 0 32px;
}

.order_el__right {
    display: flex;
    align-items: center; 
}

.order_el__location {
    width: 185px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 140%;
    padding: 20px 0 20px 20px;
}

.order_el__location span {
    display: flex;
    flex-direction: column;
}

.order_el__price {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    margin: 0 0 0 64px;
}

.order_el__price span {
    font-size: 16px;
    margin: 0 0 0 2px;
}

.order_el__delete {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #eaeaea;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 0 32px;
    transition: opacity .3s ease-out;
}

.order_el__delete:hover {
    opacity: .7;
}

.order_el__cart_wrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 30px;
}

.order_el__date {
    width: 180px;
    display: flex;
    align-items: flex-start;
    padding: 3px 0 0;
}

.order_el__number {
    font-family: 'Times New Roman';
    font-size: 48px;
}

.order_el__r {
    margin: 15px 0 0 10px;
}

.order_el__mounth {
    font-size: 18px;
    line-height: 100%;
}

.order_el__day {
    font-size: 13px;
    color: #848484;
    text-transform: lowercase;
}

.order__total {
    border-bottom: 2px solid #1b1b1b;
    font-size: 20px;
    text-align: right;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

.order__wp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order__left {
    width: 42%;
}

.order__right {
    width: 52%;
}

.order__input {
    width: 100%;
    margin: 0 0 20px;
}

.order__label {
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
}

.order__label span {
    color: #fc4949;
    margin: 0 0 0 5px;
}

.order__inp {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 2px solid #1b1b1b;
    border-radius: 0;
    font-family: 'Arial';
    font-size: 16px;
    padding: 0 20px;
    transition: border .3s ease-out;
}

.order__input.error .order__inp {
    border: 2px solid #fc4949;
}

.order__alert {
    font-size: 14px;
    color: #fc4949;
    padding: 0 0 0 22px;
    margin: 10px 0 0;
    display: none;
}

.order__input.error .order__alert {
    display: block;
}

.order__textaea {
    width: 100%;
    height: 100px;
    background: #fff;
    border: 2px solid #1b1b1b;
    border-radius: 0;
    font-family: 'Arial';
    font-size: 14px;
    resize: none;
    padding: 10px 20px;
    margin: 0 0 20px;
}

.order__txt {
    font-size: 14px;
    color: #848484;
}

.order_checkbox {
    max-width: 500px;
    position: relative;
    margin: 0 0 20px;
}
  
.order_checkbox label {
    display: inline-block;
    cursor: pointer;
    padding: 3px 0 0 34px;
}
  
.order_checkbox label span {
    display: block;
    font-size: 16px;
    line-height: 140%;
}
  
.order_checkbox a {
    font-size: 13px;
    color: #54697E;
    text-decoration: underline;
    margin: 0;
}
  
.order_checkbox label:before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 5px;
    transition: border .3s ease-out;
}
  
.order_checkbox.error label:before {
    border: 1px solid #FA0C00;
}
  
.order_checkbox label:after {
    content: '✔';
    width: 14px;
    height: 14px;
    border: 1px solid #1b1b1b;
    font-size: 12px;
    color: #579f29;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 5px;
    margin: auto;
}

.order_checkbox input[type=radio],
.order_checkbox input[type=checkbox] {
    display: none;
}

.order_checkbox input[type=radio]:checked + label:after,
.order_checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.order_checkbox__txt {
    font-size: 14px;
    color: #848484;
    line-height: 140%;
    margin: 10px 0 0;
}

.order__button {
    width: 360px;
    height: 50px;
    background: #579f29;
    border-radius: 0;
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.order__button:hover {
    opacity: .7;
}

.order__bottom {
    width: 100%;
    border-top: 2px solid #1b1b1b;
    padding: 30px 0 0;
    margin: 30px 0 0;
}

.order__loading {
    display: inline-block;
    position: relative;
    margin: 30px 0 0;
}

.afisha_loader_el-order {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.order__loading.active {
    pointer-events: none;
}

.order__loading.active .afisha_loader_el-order {
    opacity: 1;
}

.order__loading.active .order__button {
    font-size: 0;
}

#hall path.act {
    fill: #dd4b24;
    stroke: #dd4b24;
    pointer-events: auto;
    opacity: 1;
    transition: fill .3s ease-out, stroke .3s ease-out;
}

#hall svg {
    overflow: visible !important;
}

#hall path.act.sell {
    fill: #579f29;
    stroke: #579f29;
}

#hall .active_sector {
    /* fill: #dd4b24;
    stroke: #dd4b24; */
    /* pointer-events: all !important; */
    opacity: 1;
    transition: opacity .3s ease-out;
}

#hall .active_sector:hover {
    opacity: .8;
}

.seance_map {
    position: relative;
}

.m_tickets {
    width: 552px;
    max-width: 100%;
    min-height: 234px;
    max-height: 300px;
    background: #fff;
    box-shadow: 0 25px 50px -5px rgb(0 0 0 / 25%);
    overflow-y: auto;
    z-index: 1100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 40px;
    margin: auto;
}

.m_tickets__close {
    width: 20px;
    height: 20px;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: opacity .3s ease-out;
}

.m_tickets__close:hover {
    opacity: .7;
}

.m_tickets__title {
    font-size: 18px;
    color: #77a44b;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 4px;
}

.m_tickets__title span {
    display: none;
}

.m_tickets__title span:first-child {
    display: inline;
}

.m_tickets__under {
    font-size: 14px;
    text-align: center;
    margin: 0 0 40px;
}

.m_tickets__top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #848484;
    margin: 0 0 10px;
}

.m_tickets__wrp {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #848484;
    font-size: 16px;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.m_tickets__el:last-child .m_tickets__wrp {
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.m_tickets__col {
    width: calc(100% / 3);
}

.m_tickets__col:nth-child(2) {
    text-align: center;
}

.m_tickets__col:nth-child(3) {
    text-align: right;
}

.m_count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.m_count_number {
    width: 30px;
    font-size: 24px;
    text-align: center;
}

.m_count_b {
    width: 24px;
    height: 24px;
    background: #77a44b;
    border-radius: 100%;
    font-size: 24px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    pointer-events: none;
    transition: opacity .3s ease-out;
}

.m_count_b.active {
    opacity: 1;
    pointer-events: auto;
}

.m_count_b:hover {
    opacity: .7;
}

.m_count_b-m {
    line-height: 20px;
}

.legend {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 0 10px;
    margin: 0 0 20px;
}

.legend__el {
    display: inline-flex;
    font-size: 14px;
    cursor: pointer;
    margin: 0 100px 0 0;
    transition: color .3s ease-out;
}

.legend__el:hover,
.legend__el.active {
    color: #dd4b24;
}

.legend__el:last-child {
    margin: 0;
}

.legend__circle {
    width: 16px;
    height: 16px;
    background: #dd4b24;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

.legend__el:nth-child(1) .legend__circle {
    background: #8D35B6;
}

.legend__el:nth-child(2) .legend__circle {
    background: #3E5DCD;
}

.legend__el:nth-child(3) .legend__circle {
    background: #1EB2E0;
}

.legend__el:nth-child(4) .legend__circle {
    background: #F37732;
}

.legend__el:nth-child(5) .legend__circle {
    background: #D3258E;
}

.afisha_short {
    font-size: 14px;
    margin: 10px 0 0;
}

.text_page {
    font-family: 'Arial';
    margin: 60px 0;
}

.text_page__h1 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 20px;
}

.seo_text {
    font-size: 15px;
    line-height: 140%;
}

.seo_text ul,
.seo_text p  {
    margin: 0 0 20px;
}

.event_seo__text *:last-child {
    margin: 0;
}

.pay_card {
    font-family: 'Arial';
    font-size: 0;
    font-weight: 400;
    padding: 116px 0 152px;
}

.pay_card * {
    box-sizing: border-box;
}

.pay_card__wrapper {
    width: 730px;
    max-width: 100%;
    height: 100%;
    position: relative;
    padding: 0 15px;
    margin: auto;
}

.pay_card__h1 {
    font-size: 18px;
    color: #252525;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.35px;
}

.pay_card__grey {
    font-size: 14px;
    color: #939393;
    font-weight: 500;
}

.pay_card__row {
    max-width: 488px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 18px;
    color: #252525;
    font-weight: 500;   
    margin: 29px 0 0;
}

.pay_card__price {
    font-size: 24px;
    white-space: nowrap;  
}

.pay_card__form {
    width: 700px;
    max-width: 100%;
    height: 370px;
    background: url("https://sergiololpro.ru/img/pay_card__form.png") center no-repeat;
    background-size: 100% auto;
    position: relative;
    padding: 40px 28px;
    margin: 15px 0 0;
}

.pay_card__input {
    width: 439px;
    max-width: 100%;
}

.pay_card__input label {
    width: 100%;
    display: block;
    font-size: 12px;
    color: #252525;
    text-transform: uppercase;   
    letter-spacing: .9px;
    margin: 0 0 6px;
}

.pay_card__input input {
    width: 100%;
    height: 46px;
    background: #fff;
    border: 1px solid #b7b7b7;
    font-size: 16px;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 0 25px;
}

.pay_card__input-date {
    margin: 20px 0 0;
}

.pay_card__input-date { 
    max-width: 213px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pay_card__input-date input { 
    width: 100px;
    text-align: center;
    padding: 0;
}

.pay_card__input-name {
   margin: 20px 0 0; 
}

.pay_card__input-cvc {
   max-width: 99px; 
   position: absolute;
   right: 29px;
   bottom: 14px;
}

.pay_card__input-cvc label {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.05px;
}

.pay_card__input-cvc input {
    text-align: center;
    padding: 0;
}

.pay_card__what {
    font-size: 12px;
    color: #252525;  
    text-align: center;
    margin: 8px 0 0;
}

.pay_card__submit {
    width: 178px;
    height: 48px;
    background: #6294be;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -84px;
    transition: opacity .5s;
}

.pay_card__submit:hover {
    opacity: .9;
}

.pay_card__img {
    width: 445px;
    max-width: 100%;
    height: 42px;
    background: url("https://sergiololpro.ru/img/pay_card__img.png") center no-repeat;
    background-size: 100% auto;
    margin: 37px 0 0;
}

.pay_card__article {
    margin: 64px 0 0;
}

.pay_card__h2 {
    font-size: 12px;
    color: #252525;   
    font-weight: 700; 
    text-transform: uppercase;
    margin: 0;
}

.pay_card__text {
    font-size: 14px;
    color: #707070;   
    font-weight: 700; 
    margin: 13px 0 0;
}

.pay_card__type {
    width: 120px;
    height: 27px;
    background: url("https://sergiololpro.ru/img/pay_card__visa.png") left center no-repeat;
    background-size: auto 100%;
    position: absolute;
    left: 325px;
    top: 159px;
}

.iframe {
    width: 100%;
    height: 1200px;
}

.sold_modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .75);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity .5s ease-out;
}

.sold_modal.active {
    opacity: 1;
    pointer-events: auto;
}

.sold_modal__wrp {
    width: 460px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    padding: 33px 40px;
    position: relative;
}

.sold_modal_close {
    font-size: 24px;
    color: #b7b7b7;
    right: 15px;
    top: 10px;
    transition: color .3s;
    position: absolute;
    cursor: pointer;
}

.sold_modal.big .sold_modal__wrp {
    height: 400px;
}

.sold_modal__title {
    font-size: 18px;
    color: #C26666;
}

.sold_modal__list {
    font-size: 14px;
    color: #C26666;
    line-height: 18px;
}

.sold_modal__text {
    font-size: 14px;
    color: #8A8A8A;
    line-height: 18px;
}

.sold_modal__button {
    width: 145px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 13px;
    color: #322f31;
    text-decoration: underline;
    cursor: pointer;
    transition: background .5s ease-out;
}

.sold_modal__button:hover {
    background: #D8D8D8;
}

.sold_modal__lined {
    font-size: 13px;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
    transition: color .5s ease-out;
}

.sold_modal__lined:hover {
    color: #c26666;
}

.sold_modal__form {
    display: none;
}

.sold_modal.big .sold_modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sold_modal__form input {
    width: 240px;
    height: 39px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    font-size: 12px;
    color: #868686;
    text-align: center;
    outline: none;
    margin: 0 0 9px;
}

.sold_modal__form button {
    width: 125px;
    height: 39px;
    background: transparent;
    border: 1px solid #202020;
    border-radius: 3px;
    font-size: 12px;
    color: #322f31;
    outline: none;
    cursor: pointer;
    margin: 0 0 9px;
    transition: background .5s ease-out, color .5s ease-out;
}

.sold_modal__form button:hover {
    background: #202020;
    color: #fff;
}

.sold_modal__recall {
    max-width: 152px;
    font-size: 12px;
    color: #8A8A8A;
    text-align: center;
}

.seance_switch {
    display: flex;
    margin: 10px 0 0;
}

.seance_switch__el {
    border-bottom: 1px dashed transparent;
    font-size: 12px;
    cursor: pointer;
    transition: border-bottom .3s ease-out, color .3s ease-out;
}

.seance_switch__el.active,
.seance_switch__el:hover {
    border-bottom: 1px dashed #1b1b1b;
    color: #1b1b1b;
}

.seance_switch__el:last-child {
    margin: 0 0 0 20px;
}

.map_wrp {
    display: none;
}

.map_wrp.active {
    display: block;
}

.list {
    width: 450px;
    max-width: 100%;
}

.list__wrp {
    border: 1px solid #acacac;
    border-bottom: none;
}

.list__row {
    min-height: 52px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #acacac;
    font-size: 13px;
    line-height: 120%;
    padding: 15px 20px 15px 10px;
}

.list__row-sector {
    background: #f3f3f3;
    border-left: 4px solid #939393;
    padding: 15px 20px 15px 6px;
}

.list__col {
    text-align: center;
}

.list__col-sector {
    width: 120px;
    border-bottom: none;
    text-align: left;
}

.list__col-count {
    width: 60px;
}

.list__col-price {
    width: calc(100% - 240px);
}

.list__col-open {
    width: 60px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.list__col-open:before {
    content: "▼";
    font-size: 10px;
    color: #acacac;
    position: absolute;
    right: 0;
    top: 0;
}

.list__col-open.active:before {
    content: "▲";
}

.list__col-arrow {
    width: 120px;
    font-size: 24px;
    color: #acacac;
    text-align: left;
}

.list__input {
    width: 20px;
    height: 20px;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    position: relative;
}

.list__input.active:before {
    content: '✔';
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.list__col-buy {
    width: 60px;
    display: flex;
    justify-content: center;
}

.list__rows {
    width: 100%;
    display: none;
}

.list__rows.active {
    display: block;  
}

.list__places {
    width: 100%;
    display: none;
}

.list__places.active {
    display: block;  
}

.list_title {
    display: flex;
    padding: 0 10px;
    margin: 0 0 20px;
}

.list_title__el {
    font-size: 13px;
    text-align: center;
}

.list_title__el:nth-child(1) {
    width: 120px;
    text-align: left;
}

.list_title__el:nth-child(2) {
    width: 60px;
}

.list_title__el:nth-child(3) {
    width: calc(100% - 240px);
}

@media (max-width: 1024px) {
    .afisha__date_wrp {
        flex-direction: column;
    }

    .afisha__date {
        border-bottom: none;
        padding: 0;
    }

    .afisha__els {
        width: 100%;
    }

    .afisha__el {
        position: relative;
        padding: 50px 15px 15px;
    }

    .afisha__time {
        position: absolute;
        top: 15px;
    }

    .afisha__bottom {
        flex-direction: column;
    }

    .afisha__desc {
        margin: 0 0 15px;
    }

    .afisha__location {
        width: 200px;
    }

    .event_top {
        height: 400px;
    }

    .seance_window {
        display: none;
    }

    .order_el__els {
        width: 100%;
    }

    .order_el__cart_wrp {
        flex-direction: column;
    }

    .order_el__date {
        margin: 0 0 10px;
    }
}

@media (max-width: 768px) {
    .event_seo {
        padding: 0;
    }

    .order__left {
        width: 100%;
        margin: 0 0 30px;
    }

    .order__right {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .afisha__r {
        margin: 12px 0 0 10px;
    }

    .afisha__el {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 8px 10px;
    }

    .afisha__time {
        font-size: 22px;
        margin: 0;
    }

    .afisha__location {
        font-size: 14px;
    }

    .afisha__location-mob {
        width: auto;
        max-width: 70%;
        display: block;
        line-height: 100%;
        text-align: right;
        position: absolute;
        right: 2.5%;
        top: 15px;
    }

    .afisha__img {
        width: 100%;
        height: 180px;
        margin: 0 0 9px;
    }

    .afisha__price {
        margin: 0;
    }

    .afisha__right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .afisha .afisha__left {
        display: none;
    }

    .afisha__title {
        width: 100%;
        max-width: 100%;
        display: block;
        background: rgba(27, 27, 27, .7);
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 13px;
        margin: 0;
        display: none;
    }

    .afisha__title-mob {
        display: block;
        color: #fff;
    }

    .afisha__desc {
        color: #fff;
        margin: 0;
    }

    .afisha__button {
        width: 180px;
        height: 40px;
        font-size: 18px;
        line-height: 36px;
    }

    .afisha__load {
        height: 60px;
        font-size: 20px;
        line-height: 60px;
    }

    .afisha__desc-mob {
        display: block;
        margin: 30px 0 0;
    }

    .afisha__h2 {
        font-size: 24px;
    }

    .event_top {
        height: auto;
        flex-direction: column;
    }

    .event_top__content {
        max-width: 100%;
    }

    .event_top__title {
        font-size: 36px;
        margin: 0 0 10px;
    }

    .event_top__text,
    .event_top__location {
        font-size: 13px;
        margin: 0 0 20px;
    }

    .event_top__image {
        width: 100%;
        height: 340px;
    }

    .event__seances {
        margin: 0 0 60px;
    }

    .event_photos {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        margin: 30px 0;
    }

    .event_photos__photo {
        display: inline-block;
    }

    .seance_top {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 2.5%;
        margin: 0 0 16px;
    }

    .seance_top__left {
        margin: 0 0 16px;
    }

    .seance_top__right {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .seance_top_wrapper {
        padding: 0;
    }

    .afisha__wrapper-seance {
        padding: 0;
    }

    .event_bread-seance {
        display: none;
    }

    .bottom_cart {
        height: auto;
    }

    .afisha__wrapper-bottom_cart {
        padding: 0;
    }

    .bottom_cart__clear {
        display: none;
    }

    .bottom_cart__center {
        width: 50%;
        font-size: 16px;
        padding: 0 10px;
    }

    .bottom_cart__button {
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
    }

    .bottom_cart_mobile {
        width: 100%;
        display: block;
    }

    .bottom_cart_mobile__hide {
        width: 100%;
        border-bottom: 1px solid #e4e4e4;
        font-size: 14px;
        text-align: center;
        padding: 5px 10px;
    }

    .bottom_cart_mobile__tickets {
        max-height: 140px;
        border-bottom: 1px solid #e4e4e4;
        overflow-y: auto;
        display: none;
    }

    .bottom_cart_mobile.active .bottom_cart_mobile__tickets {
        display: block;
    }

    .bottom_cart_mobile__ticket {
        width: 100%;
        border-bottom: 1px solid #e4e4e4;
        position: relative;
        padding: 10px 30px 10px 10px;
    }

    .bottom_cart_mobile__ticket:last-child {
        border-bottom: none;
    }

    .bottom_cart_mobile__title {
        font-size: 13px;
        font-weight: 700;
        margin: 0 0 5px;
    }

    .bottom_cart_mobile__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bottom_cart_mobile__left {
        font-size: 12px;
    }

    .bottom_cart_mobile__price {
        font-size: 14px;
    }

    .bottom_cart_mobile__del {
        width: 10px;
        height: 20px;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .order_el__id {
        display: none;
    }

    .order_el__el {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 16px;
    }

    .order_el__left {
        flex-direction: column;
        align-items: flex-start;
    }

    .order_el__time {
        margin: 0 0 8px;
    }

    .order_el__title {
        max-width: 100%;
        font-size: 20px;
        padding: 0;
        margin: 0 0 8px;
    }

    .order_el__right {
        flex-direction: column;
        align-items: flex-start;
    }

    .order_el__location {
        width: 100%;
        flex-direction: row;
        padding: 0;
        margin: 0 0 8px;
    }

    .order_el__price {
        margin: 0;
    }

    .order_el__delete {
        width: 40px;
        height: 40px;
        border-left: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        transition: opacity .3s ease-out;
    }

    .order__h1 {
        font-size: 36px;
        margin: 0 0 20px;
    }

    .order__title {
        margin: 0 0 20px;
    }

    .afisha__wrapper-main {
        padding: 0;
    }

    .order__button {
        width: 100%;
    }

    .order {
        margin: 60px 0;
    }

    .legend {
        margin: 0 0 6px;
    }

    .legend__el {
        margin: 0 30px 0 0;
    }

    .afisha__date {
        padding: 0 8px;
    }

    .afisha_filter__mounths {
        padding: 0 8px;
    }

    .order__loading {
        width: 100%;
    }

    .text_page__h1 {
        font-size: 24px;
    }

    .pay_card {
        padding: 50px 0;
    }

    .pay_card__row {
        flex-direction: column;
    }

    .pay_card__price {
        margin: 10px 0 0;
    }

    .pay_card__form {
        height: auto;
        background: #ccc;
        border-radius: 10px;
        margin: 15px 0 120px;
    }

    .pay_card__input-cvc {
        position: static;
        margin: 20px 0 0;
    }

    .pay_card__type {
        width: 83px;
        left: inherit;
        right: 28px;
        top: inherit;
        bottom: 40px;
    }

    .pay_card__submit {
        right: inherit;
        left: 0;
        bottom: -80px;
    }

    .iframe {
        height: 500px;
    }

    .afisha__labels {
        top: 0;
        bottom: inherit;
    }
}