<html lang="ru"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="css/styles.css">
  
  <style>

  </style>
  <title>tilda</title>
</head>

<body>
  <section
    id="vue"
    class="seance"
    :data-location="seance_data.hall_name"
  >
    <div class="afisha__wrapper">
      <div class="event_bread event_bread-seance">
        <a href="/">Главная</a>
        <span>&#8594;</span>
        <a v-if="seance_data.map_api_data" :href="`/event#${seance_event_id}`">
          {{ seance_data.map_api_data.name }}
        </a>
        <span>&#8594;</span>
        <template v-if="seance_data.seances_data">
          <template v-for="seance in seance_data.seances_data.seances">
            <span
              v-if="seance.id == seance_seance_id"
              :data-date="seance.starts_at"
              class="date_data"
            >
              {{ seanceDay(seance.starts_at) }}
              {{ seanceMonth(seance.starts_at) }}
            </span>
          </template>
        </template>
      </div>
    </div>
    <div class="afisha__wrapper afisha__wrapper-seance">
      <div class="seance_top">
        <div class="seance_top__left">
            <h1
              v-if="seance_data.map_api_data"
              :data-title="seance_data.map_api_data.name"
              class="seance_top__title"
            >
              {{ seance_data.map_api_data.name }}
            </h1>
            <div class="seance_top__location">{{ seance_data.hall_name }}</div>
        </div>
        <div v-if="seance_data.seances_data" class="seance_top__right">
            <div class="seance_top__dates">
                <div
                  v-for="seance in seance_data.seances_data.seances"
                  class="seance_top__date"
                  @click="seance_list = !seance_list"
                >
                  <template v-if="seance.id == seance_seance_id">
                    {{ seanceDay(seance.starts_at) }}
                    {{ seanceMonth(seance.starts_at) }},
                    {{ seanceWeekShort(seance.starts_at) }},
                    {{ seanceHour2(seance.starts_at) }}
                  </template>
                </div>
                <div
                  class="seance_top__list"
                  :class="{ active: seance_list }"
                >
                  <template v-if="seance_data.seances_data.seances.length > 1">
                    <template v-for="seance in seance_data.seances_data.seances">
                      <div
                        class="seance_top__el"
                        :class="{ active: seance.id == seance_seance_id }"
                        @click="changeUrl(`/seance#${seance_event_id}&${seance.id}`)"
                      >
                        {{ seanceDay(seance.starts_at) }}
                        {{ seanceMonth(seance.starts_at) }},
                        {{ seanceWeekShort(seance.starts_at) }},
                        {{ seanceHour2(seance.starts_at) }}
                    </div>
                    </template>
                  </template>
                  <template v-else>
                    <div class="seance_top__el seance_top__el-inactive">Другие даты отсутствуют</div>
                  </template>
                </div>
            </div>
        </div>
      </div>

      <div v-if="legend_range.length" class="legend">
        <div v-for="(legend, index) in legend_range" class="legend__el" @click="legendToogle(index)">
          <div class="legend__circle"></div>
          {{ legend }} руб +
        </div>
      </div>

      <div class="seance_map">
        <div id="map">

        </div>
        <div class="seance_window">
          <div v-if="window_is_sector" class="seance_window_sector">
            <div class="seance_window__sector">{{ window_sector }}</div>
          </div>
          <div v-else class="seance_window_seat">
            <div class="seance_window__sector">{{ window_sector }}</div>
            <div class="seance_window__location">Ряд: {{ window_row }}, Место: {{ window_seat }}</div>
            <div class="seance_window__price">{{ window_price }} руб</div>
          </div>
        </div>
        <div
          class="bottom_cart"
          :class="{ active : cart_summ }"
        >
          <div class="afisha__wrapper afisha__wrapper-bottom_cart">
            <div class="bottom_cart_mobile" :class="{ active: mobile_cart }">
              <div class="bottom_cart_mobile__hide" @click="mobile_cart = !mobile_cart">
                <template v-if="mobile_cart">
                  Скрыть корзину &#x2304;
                </template>
                <template v-else>
                  Показать корзину &#8963;
                </template>
              </div>
              <div class="bottom_cart_mobile__tickets">
                <div v-for="ticket in cart" class="bottom_cart_mobile__ticket">
                  <div class="bottom_cart_mobile__title">{{ ticket.title }}</div>
                  <div class="bottom_cart_mobile__row">
                    <div class="bottom_cart_mobile__left">
                      {{ ticket.sector }},
                      <template v-if="ticket.is_multipled">
                        Количество: {{ ticket.count }}
                      </template>
                      <template v-else>
                        Ряд: {{ ticket.row }}, Место: {{ ticket.seat }}
                      </template>
                    </div>
                    <div class="bottom_cart_mobile__price">{{ ticket.price }} руб</div>
                  </div>
                  <div class="bottom_cart_mobile__del" @click="delTicket(ticket.id)">&#215;</div>
                </div>
              </div>
            </div>
            <div class="bottom_cart__clear" @click="clearCart()">Очистить корзину &#215;</div>
            <div class="bottom_cart__center">Итого: {{ cart_summ }} руб</div>
            <a href="/order/" class="bottom_cart__button">Оформить заказ</a>
          </div>
        </div>
        <div v-if="m_sector" class="m_tickets">
          <div class="m_tickets__close" @click="m_sector = ''">&#215;</div>
          <div class="m_tickets__title">
            <template v-for="ticket in m_tickets">
              <span v-if="ticket.ss == m_sector">{{ ticket.sn }}</span>
            </template>
          </div>
          <div class="m_tickets__under">Выберите количество билетов</div>
          <div class="m_tickets__top">
            <div class="m_tickets__col">Количество</div>
            <div class="m_tickets__col">По цене</div>
            <div class="m_tickets__col">Вам нужно</div>
          </div>
          <div class="m_tickets__els">
            <div v-for="ticket in m_tickets" class="m_tickets__el">
              <div v-if="ticket.ss == m_sector" class="m_tickets__wrp">
                <div class="m_tickets__col">{{ ticket.qty }}</div>
                <div class="m_tickets__col">{{ ticket.p }} руб.</div>
                <div class="m_tickets__col">
                  <div class="m_count">
                    <div
                      class="m_count_b m_count_b-m"
                      :class="{ active: ticket.count > 0 }"
                      @click="m_ticket(ticket, false)"
                    >-</div>
                    <div class="m_count_number">{{ ticket.count }}</div>
                    <div
                      class="m_count_b"
                      :class="{ active: ticket.count < ticket.qty }"
                      @click="m_ticket(ticket, true)"
                    >+</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="loading" class="afisha_loader">
      <div class="afisha_loader_el"></div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha512-PwQ5+jgXxxprNGc80ycHE3spgj6TuDieHe/yTkbEJ+U5aol7dTupi/4VbwHHzlQVW77Vb0GLOIsiYigHgC5vcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js" integrity="sha512-wGKmIfDWUJSUvxUfUayQPJj7ADCD60La3up0VCbq+MTFcOUQ2hlH2McnYFafHgLTsOrGwOdiHKX4p1v0BerCyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>

  <script src="js/script.js"></script>
</body>

</html>